.currency_toggle {
  color: #fff;
}

.currency_link {
  text-decoration: none;
}

.preloader-container {
  display: flex;
  height: 400px;
  align-items: center;
  justify-content: center;
}
